body {
    font-family: Arial;
    background-color: #eaeaea;
}

.calc {
    width: 220px;
    background: white;
    margin: 100px auto;
    padding: 15px;
    border-radius: 8px;
}

input {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    width: 45px;
    height: 35px;
    margin: 2px;
    cursor: pointer;
}
